body {
  height: 100vh;
  font-family: Requiem;
}

::selection {
  background-color: #58180d;
  color: #faf7ea;
}

h1,
h2,
h3,
h4,
h1 input,
h2 input,
h3 input,
h4 input {
  font-family: MrJeeves;
  font-weight: 800;
  color: #58180d;
  border-bottom: 2px solid #c9ad6a;
}
h1 input,
h2 input,
h3 input,
h4 input {
  font-size: inherit;
}

.margin-bottom {
  margin-bottom: 20px;
}

.currency {
  width: 25px;
  filter: url(#drop-shadow);
}

.large .currency {
  width: 40px;
}

.button,
.button:hover,
button,
button:hover {
  background-color: #9b2a17;
  border: none;
  color: #faf7ea;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.4em 1.1em;
  font-size: 1rem;
  border-radius: 0.25em;
  font-family: Requiem;
  box-shadow: 0 0 5px 0 #888;
}
.button:hover,
button:hover {
  background-color: #8b2514;
}
.button.light {
  background-color: #ec2127;
}
.button.light:hover {
  background-color: #df1319;
}
.button.large {
  margin: 0.5em;
  font-size: 1.5rem;
}
button:focus {
  outline: 0;
}

.form-group {
  display: grid;
  grid-template-columns: 2fr 6fr;
}

input,
select {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: none;
  border-bottom: 2px solid #c9ad6a;
  background-color: transparent;
  transition: border-color 150ms ease-in-out;
}
input:focus,
select:focus {
  border-color: #58180d;
  outline: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.dialog-backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 150ms ease-in-out;
}
.dialog-backdrop.hidden {
  background-color: transparent;
  pointer-events: none;
}

.fix-font {
  font-family: Arial !important;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 30px;
  padding: 0;
  border-radius: 2px;
  background: rgba(222, 205, 163, 0.7);
  box-shadow: inset 0 0 5px 0;
  transition: opacity 0.2s;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  background: #9b2a17;
  box-shadow: 0 0 3px 0;
  cursor: pointer;
  border: none;
  border-radius: 2px;
}

.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  padding-left: 70px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #decda3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: inset 0 0 5px 0;
  margin-right: 10px;
}
.slider:before {
  position: absolute;
  content: '';
  height: 34px;
  width: 30px;
  left: 0;
  bottom: 0;
  background-color: #8b2514;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 1px 0px 5px 0 inset;
}
input:checked + .slider:before {
  bottom: -1px;
  height: 36px;
  width: 34px;
  box-shadow: 0 0 3px 0;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input[type='number'] {
  text-align: center;
}
input.small {
  width: 60px;
  flex: unset;
}

.input-row {
  display: flex;
  flex-direction: row;
}
.input-row > * {
  margin: 0 5px;
  flex: 1;
}

button.toggle {
  transition: all 150ms ease-in-out;
}
button.toggle.active {
  background-color: #decda3;
  box-shadow: 0 0 3px 3px #9b2a17 inset;
  font-weight: 600;
  color: #9b2a17;
}

.hide-cursor {
  cursor: none;
}

.text-center {
  text-align: center;
}
