body {
  background-image: url('/img/pergament.jpg');
}

canvas#effects {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
}

.player {
  position: fixed;
  background-color: white;
  padding: 10px;
  cursor: move;
  box-shadow: 0 0 10px 0 #888;
}
.dragover {
  border: 2px dashed #000;
}

.player.one,
.player.three {
  min-width: 250px;
  height: 130px;
}

.player.hidden {
  background-color: transparent;
  box-shadow: none;
}
.player.hidden * {
  opacity: 0;
}

.player.one {
  bottom: 0;
  right: 0;
}
.player.two {
  right: 0;
  top: calc(50vh - 130px / 2);
  bottom: calc(50vh - 60px);
  transform: rotate(-90deg);
  margin-right: calc(((100vh - 2 * 150px) - 130px) / -2);
  width: calc(100vh - 2 * 150px);
  height: 130px;
}
.player.three {
  top: 0;
  right: 0;
  transform: rotate(180deg);
}

.player .tables-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.player.two .tables-container {
  flex-direction: row;
}

.player.two .stats-table {
  margin-right: 25px;
}

.stats-table th,
.stats-table td {
  padding-left: 10px;
  padding-right: 10px;
}
.stats-table td:nth-child(0),
.stats-table td:nth-child(2) {
  padding-left: 0;
}
.stats-table td:nth-child(1),
.stats-table td:nth-child(3) {
  padding-right: 0;
}

table {
  border-collapse: separate;
  border-spacing: 10px 1px;
  text-align: center;
}

.large table {
  border-spacing: 15px 7px;
  font-size: 1.4rem;
}

.dialog {
  position: fixed;
  min-height: 200px;
  min-width: 400px;
  padding: 10px;
  background-color: #fdf1dc;
  border-style: solid;
  border-width: 5px;
  border-color: #c9ad6a;
  border-left: none;
  border-right: none;
  box-shadow: 1px 4px 14px #888;
  transform-origin: top center;
  animation-duration: 1000ms;
  transition: all 150ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dialog.one {
  top: calc(50vh + 50px);
  right: calc(40vw + 50px);
  animation-name: bounce1;
  transform: scale(1);
}
.dialog.two {
  left: 65vw;
  top: 50vh;
  animation-name: bounce2;
  transform: translateX(-50%) scale(1) rotate(-90deg);
}
.dialog.three {
  bottom: calc(50vh + 50px);
  right: calc(40vw + 50px);
  animation-name: bounce3;
  transform: translateY(100%) scale(-1);
}

.hidden .dialog {
  animation: none;
  opacity: 0;
}
.hidden .dialog.one {
  transform: scale(0);
}
.hidden .dialog.two {
  transform: translateX(-50%) scale(0) rotate(-90deg);
}
.hidden .dialog.three {
  transform: translateY(100%) scale(0);
}

.xp-reward-dialog {
  font-size: 4rem;
  color: #58180d;
}

.money-reward-dialog {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

@keyframes bounce1 {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(0.85);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce2 {
  0% {
    transform: translateX(-50%) scale(0) rotate(-90deg);
  }
  20% {
    transform: translateX(-50%) scale(1.4) rotate(-90deg);
  }
  50% {
    transform: translateX(-50%) scale(0.85) rotate(-90deg);
  }
  75% {
    transform: translateX(-50%) scale(1.1) rotate(-90deg);
  }
  100% {
    transform: translateX(-50%) scale(1) rotate(-90deg);
  }
}

@keyframes bounce3 {
  0% {
    transform: translateY(100%) scale(0);
  }
  20% {
    transform: translateY(100%) scale(-1.4);
  }
  50% {
    transform: translateY(100%) scale(-0.85);
  }
  75% {
    transform: translateY(100%) scale(-1.1);
  }
  100% {
    transform: translateY(100%) scale(-1);
  }
}

#map {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#grid-opacity {
  position: fixed;
  top: calc(50vh - 15px);
  right: calc(130px + 30px - (100vh - 2 * 150px) / 2);
  bottom: calc(50vh - 15px);
  width: calc(100vh - 2 * 150px);
  transform: rotate(-90deg);
}

button.btn-bottom-left {
  position: fixed;
  left: 55px;
  bottom: 5px;
  background: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 5px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

.initiative-bar {
  position: fixed;
  top: calc(50vh - 25px);
  left: calc(25px - 100vh / 2);
  bottom: calc(50vh - 25px);
  width: 100vh;
  transform: rotate(-90deg);
  height: 50px;
  background-color: white;
  box-shadow: 0 0 10px 0 #888;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.initiative-bar .initiative-cell {
  padding: 0 5px;
  margin: 0 10px;
  text-align: center;
  transition: all 300ms ease-in-out;
  border: 2px solid transparent;
}
.initiative-cell.active {
  border: 2px solid #9b2a17;
  border-radius: 5px;
}
.initiative {
  font-size: 0.6rem;
  opacity: 0.5;
  margin-top: -3px;
}

#msg {
  position: fixed;
  bottom: 0;
  left: 115px;
}

.image-viewer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.image-viewer.hidden {
  display: none;
}

.image-viewer img {
  transform: rotate(-90deg);
  min-width: 70vh;
  max-width: 85vh;
}
