body {
  background-image: url('/img/pergament.jpg');
}

.player {
  position: fixed;
  width: 300px;
  height: 200px;
  background-color: white;
  padding: 10px;
  cursor: move;
}
.dragover {
  border: 2px dashed #000;
}

.player.one {
  bottom: 0;
  left: 0;
}
.player.two {
  bottom: 0;
  right: 0;
  transform: rotate(-90deg);
  margin-right: -50px;
  margin-bottom: 50px;
}
.player.three {
  top: 0;
  right: 0;
  transform: rotate(180deg);
}
